*{
  list-style: none;
  border: solid green .5px;
  color: white;
}
body{
  background: black;
}

header{
  display: flex;
  justify-content: space-between;
}
header i{
  margin: 1em;
}

.menu{
  position: absolute;
  top: 0;
  right: 0;

  display: none;
  justify-content: center;
  padding-left: 0;

  grid-gap: 1em;

  font-weight: 500;

  background:

  z-index: 1;
}

/* corpo do portifolio */
main{
  padding: 1em;
}
.outdoor{
  position: relative;

  height: calc(250px - 1em);
  border-radius: 10px;
  overflow: hidden;

  background-image: url("../img/header.png");
  background-size: cover;
  background-position: center;
}
.outdoor::after{
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, black, rgba(0, 0, 0, .4));
}

/* corpo do portifolio */
