@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root{
  --bar: rgba(0,0,0, .4);
  --bar-color: #40f5ff;

  --grey-5: #0D0C0C;
  --grey-10: #1A1917;
  --grey-15: #262523;
  --grey-20: #33322F;
  --grey-25: #403E3B;

  --font: 'Rubik', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font);
  color: white;
  line-height: 1.4em;

  /* border: solid purple .5px; */
}
body {
  background: var(--grey-5);
}
::-webkit-scrollbar {
  display: none;
}

/* classes reutilizavéis */
.key-value{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: .7em 0;
}
.icons-dev{
  font-size: 2em;
}
.skill{
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-align: center;
}
section{
  margin-bottom: 1em;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* classes reutilizavéis */

/* sobre mim */
.about-me{
  position: fixed;
  top: 0;
  left: 0;

  width: 250px;
  height: 100vh;
}

/* conteudo cabeçalho */
.head-me{
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 250px;

  background: var(--grey-25);
}
.close-me{
  position: absolute;
  top:0;
  right: 0;

  margin: 1em;
}
.face{
  position: relative;

  width: 80px;
  height: 80px;

  margin: 8px 0;
}
.face::after{
  content: "";

  position: absolute;
  bottom: 5px;
  right: 5px;

  width: 15px;
  height: 15px;

  border-radius: 50%;

  background: var(--bar-color);
  box-shadow: 0px 0px 3px var(--bar-color),
  0px 0px 10px var(--bar-color);
}
.face img{
  width: 100%;
  height: 100%;

  border-radius: 50%;

  box-shadow: 0px 0px 10px -1px rgba(0,0,0, 0.5);
}
.name{
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: .2px;
}
.name span{
  color: var(--bar-color);
}
.work{
  color: grey;
}
/* conteudo cabeçalho */

/* conteudo principal */
.main-me{
  position: relative;
  top: 250px;

  display: block;

  width: 100%;
  height: calc(100% - (250px + 3em));

  padding: 0 1em;

  overflow-y: auto;

  z-index: -1;

  background: var(--grey-20);
}
.info-me{
  border-bottom: .5px solid grey;
}
.infos, .age{
  color: grey;
}

/* sessões do conteudo princpal */
.lang_dev{
  display: flex;
  justify-content: space-between;

  width: 100%;

  border-bottom: .5px solid grey;
}
.ing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  border-bottom: .5px solid grey;
  padding: 1em 0;
}
/* sessões do conteudo princpal */

/* progressbar circular*/
.outer svg{
  position: absolute;

  width: 100%;
  height: 100%;

  transform: rotateZ(-90deg);
}
circle{
  cx: 30;
  cy: 30;
  r: 28;

  fill: none;

  stroke: var(--bar-color);

  stroke-width: 4px;
  stroke-linecap: round;

  stroke-dasharray: 173;
  stroke-dashoffset: calc(173 - (173 * var(--p) / 100));
}
.outer{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  background: var(--bar);
  box-shadow: inset 0px 0px 5px -2px var(--bar-color);
}
.insider{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 4px;

  width: 52px;
  height: 52px;

  border-radius: 50%;

  background: var(--bg);
  box-shadow: inset 0px 0px 5px -2px var(--bar-color);
}
/* progressbar circular*/
#blur{
  /* sombra svg */
  filter: blur(6px);
}
/* progressbar linear*/
.ing-area{
  width: inherit;
  margin-bottom: .5em;
}
.ing svg{
  position: absolute;

  width: 100%;
  height: 4px;
}
.info{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.bar{
  width: 100%;
  height: 4px;

  background: var(--bar);

  border-radius: 2px;
  box-shadow: inset 0px 0px 5px -2px var(--bar-color);
}
line{
  stroke: var(--bar-color);

  stroke-width: 4px;
  stroke-linecap: round;

  stroke-dasharray: 214;
  stroke-dashoffset: calc(214 - (214 * var(--p) / 100));
}
/* progressbar linear*/
/* conteudo principal */

/* rodapé icones sociais */
.social{
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 3em;
  padding: 0 1em;

  background: var(--grey-25);
}
.fa-brands{
  font-size: 1.5em;
}
.fa-brands:hover, :checked{
  color: var(--bar-color);
  vertical-align: super;
  font-size: 2em;
}
/* rodapé icones sociais */
/* sobre mim */

/* Seção dos tablets */
@media (min-width: 600px) {
  .col-tb-1 {width: 8.33%;}
  .col-tb-2 {width: 16.66%;}
  .col-tb-3 {width: 25%;}
  .col-tb-4 {width: 33.33%;}
  .col-tb-5 {width: 41.66%;}
  .col-tb-6 {width: 50%;}
  .col-tb-7 {width: 58.33%;}
  .col-tb-8 {width: 66.66%;}
  .col-tb-9 {width: 75%;}
  .col-tb-10 {width: 83.33%;}
  .col-tb-11 {width: 91.66%;}
  .col-tb-12 {width: 100%;}
}
/* Seção dos desktops */
@media (min-width: 768px) {

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
